* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    
}
.card {
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1)30%, rgba(0, 0, 0, 0)100%);
}
.content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 20px;
}
.content h2 {
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 10px;
}
.content p {
    font-size: 20px;
    opacity: 0.8;
    line-height: 1.5;
    margin-bottom: 20px;
}
.btn  {
    display: inline-flex;
    text-decoration: none;
    gap: 8px;
    align-items: center;
    color: white;

}
.btn span {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}