* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
li{
    justify-content: center;
    background-color: #cecece;
    padding: 10px;
}
ul li:hover {
    background-color: #636161;
}